@import '../../scss/variables';



.main-nav {
    z-index: 999;
    background: $dark-transparent;
    display: flex;
    width: 5.5rem;
    flex-direction: column;
    height: 28.7rem;
    align-items: center;
    justify-content: space-evenly;
    position: fixed;
    margin-top: 10vh;
    margin-left: 2vw;
    outline: 1.5px solid white;
    border-radius: $boder-radius;
    
    

    .link {
        display: flex;
        flex-direction: column;
        align-items: center;
        padding: 1rem 0;
        color: $primary-light;
        text-decoration: none;
        font-size: 0.7rem;
        width: 100%;
        text-transform: uppercase;
        position: relative;
        text-align: center;


        &.active {
            background-color: $active-dark;
            border-radius: $boder-radius;
        
            &::after{
                content: '◖';
                color: limegreen;
                font-size: 1rem;
                position: absolute;
                transform: rotate(270deg);
                top: -9px;
                
            }
        }

        &:hover {
            background-color: $hover-dark;
            border-radius: $boder-radius;
            transition: background 0.5s;
        }

    }
    .nav-icon {
        font-size: 2.4rem;
        margin-bottom: 0.5rem;
        height: 2.4rem;
        @include notDragable;
    }
}

.external-link{
    position: absolute;
    font-size: 0.8rem;
    top: 10px;
    right: 10px;
}



@media (max-width: 679px) {
    .main-nav {
        display: flex;
        width: 100%;
        flex-direction: row;
        height: 5rem;
        align-items: center;
        justify-content: center;
        padding-top: 0;
        margin-top: 0vh;
        margin-left: 0vw;
        margin-right: 0vw;
        border-radius: 0px;
        background-color: $primary-dark;

    
        .link {
            align-items: center;
            padding: 0rem 0;
            font-size: 0.6rem;
            width: 100%;
            height: 100%;
            justify-content: center;

            
            &:hover {
                border-radius: 0px;
            }
    
    
        }
        .nav-icon {
            font-size: 2.2rem;
            margin-bottom: 0.2rem;
            height: 2.2rem;
            @include notDragable;
        }
    }
    
    .external-link{
        font-size: 0.7rem;
        top: 12px;
        right: 12px;
    }
}