@import '../../scss/variables';


.footer{
    height: 4rem;
    bottom: 0;
    background-color: $active-dark;
    display: flex;
    justify-content: center;
    align-items: center;
    color: $primary-light;
    align-self: flex-start;
    width: 100%;
    padding: 0 4rem;

    p{
        text-align: center;
    }
   

}