@import 'variables';

@font-face {
    font-family: "Chronicle";
    src: url("../assets/fonts/jetbrains/Chronicle-roman.otf") format("opentype");
    font-weight: 400;
}

@font-face {
    font-family: "Graphik";
    src: url("../assets/fonts/jetbrains/GraphikRegular.otf") format("opentype");
    font-weight: normal;
}

@font-face {
    font-family: "Graphik";
    src: url("../assets/fonts/jetbrains/GraphikBold.otf") format("opentype");
    font-weight: bold;
}



* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
}

body {
    margin: 0;
    padding: 0;
    background-color: $primary-dark;
    font-family: $graphik;
    color: $primary-light;

    &::before,
    &::after {
        position: fixed;
        inset: 0;
        z-index: -1;

    }

    &::before {
        --grad: radial-gradient(at 35% 20%, red, #{rgba(#ffffff, .4)} 50%, transparent 70%);
        --mask: var(--grad), var(--grad), var(--grad);
        -webkit-mask: var(--mask);
        -webkit-mask-composite: source-in;
        mask: var(--mask);
        mask-composite: intersect;
        mix-blend-mode: color;
        content: '';
        background: linear-gradient(#00a2ff, #0024f1 80%, );
    }



}

.heading {
    display: flex;
    align-items: center;
    justify-content: flex-start;

}
h1 {
    font-family: $chronicle;
    font-weight: 400;
    font-size: 7rem;
    margin-bottom: 1rem;
}

h2 {
    font-family: $chronicle;
    font-weight: 400;
    margin-bottom: 2rem;
    font-size: 2.8rem;
}

.section {
    max-width: 1200px;
    
}
.page {
    display: flex;
    flex-direction: column;
    align-items: center;
    min-height: calc(100vh - 12rem);
    padding: 10vh 8rem 0rem 8rem;
    margin-bottom: 8rem;
    height: auto;
}

.gradient {
    background-color: red;

    &::before,
    &::after {
        position: fixed;
        inset: 0;
        z-index: -1;
        --grad: radial-gradient(at 35% 15%,
            red, #{rgba(red, .2)} 50%, transparent 70%);
        --mask: var(--grad), var(--grad), var(--grad);
        -webkit-mask: var(--mask);
        -webkit-mask-composite: source-in;
        mask: var(--mask);
        mask-composite: intersect;
        mix-blend-mode: color;
        content: ''
    }

    &::before {
        background: #000;
        filter: url(#f)
    }

    &::after {
        background: linear-gradient(#ff0000, #00f1e9 80%, );
    }
}

.outline {
    outline: 1px solid red;
}

@media (max-width: 679px) {
    .page {
        display: flex;
        justify-content: center;
        width: 100%;
        margin-left: 0rem;
        margin-bottom: 2rem;
        padding: 8rem 2rem 4rem 2rem;
    }
}

@media (max-width: 586px) {
    h2 {
        font-size: 1.9rem;
    }
    h1 {
        font-size: 5rem;
    }
}